
<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <span class="nav-link">SignUp</span>
  </li>
</ul>

<form [formGroup]="form" class="mt-5 p-5 d-flex flex justify-content-center align-items-center flex-column">
<fieldset>
  <legend>Sign up</legend>
  <div class="mb-3 ">
    <div>
      <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
    </div>
    <div class="">
      <input type="text" formControlName="email" class="form-control" id="staticEmail" value="email@example.com">
    </div>
  </div>

  <div class="mb-3 ">
    <div>
      <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
    </div>
    <div class="">
      <input type="password" formControlName="password" class="form-control" id="inputPassword">
    </div>
  </div>
</fieldset>
<button class="btn btn-success" (click)="signup()">SignUp</button>

</form>
