<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Lessons</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Signup</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Login</a>
  </li>
  <li class="nav-item">
    <a class="nav-link">Logout</a>
  </li>
</ul>

<div class="container">
  <div *ngIf="errors.length > 0" class="flex-column d-flex justify-content-center align-items-center mt-5 flex-grow-1">
    <div class="alert alert-danger " role="alert" >
  <div *ngFor="let error of errors">{{messagePerErrorCode[error]}}</div>
    </div>
  </div>

  <form [formGroup]="form" class="mt-1 d-flex flex justify-content-center align-items-center flex-column">

    <fieldset>
      <legend>Sign up</legend>
      <div class="mb-3 ">
        <div>
          <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
        </div>
        <div class="">
          <input type="text" formControlName="email" class="form-control" id="staticEmail" value="email@example.com">
        </div>
      </div>

      <div class="mb-3 ">
        <div>
          <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
        </div>
        <div class="">
          <input type="password" formControlName="password" class="form-control" id="inputPassword">
        </div>
      </div>
    </fieldset>
    <button class="btn btn-success" (click)="signup()">SignUp</button>

  </form>
</div>
